/* Main.css */

.main-content-wrapper {
  display: flex;
  height: 100%;
  background-color: whitesmoke;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
}

.table {
  flex: 1;
  margin-right: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden; /* Ensure border radius is applied to inner elements */
}

th {
  background-color: #e0ecfc;
  text-align: center;
  padding: 10px;
}

tbody td {
  padding: 10px;
  text-align: center;
}
.bg {
  background: #f5f5f5;
}

.foot:hover {
  background-color: #e0ecfc;
}

tfoot td {
  font-weight: bold;
}

.tables-container {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
}

.tables-container .table {
  margin: 20px;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .tables-container {
    justify-content: center;
  }

  .hamburger {
    display: block;
    border: none;
    margin-top: 20px;
    outline: none;
    background-color: transparent;
  }
}
